.list {
    /* 위치 */
    position: relative;
    width: 100%;
    top: 0px;
    border-radius: 0px;
}

.list__ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    width: 100%;
    justify-content: flex-start;
    /* 왼쪽 정렬 (원할 경우 center로 변경 가능) */
}