.container {
    display: flex;
}

.map__container {
    padding: 80px 46px 80px 270px;
    height: 100%;
}

.map__list {
    fill: var(--color-gray-cc);
    stroke: var(--color-white);
    stroke-width: 3px;
    max-width: 100%;
}

.city {
    transition: .2s;
}

.city:hover {
    filter: drop-shadow(2px 2px 2px gray);
}

[data-count='0'] {
    fill: var(--color-gray-cc);
}

[data-count='1'] {
    fill: var(--color-blue-1a);
    fill-opacity: 0.2;
}

[data-count='2'] {
    fill: var(--color-blue-1a);
    fill-opacity: 0.4;
}

[data-count='3'] {
    fill: var(--color-blue-1a);
    fill-opacity: 0.6;
}

[data-count='4'] {
    fill: var(--color-blue-1a);
    fill-opacity: 0.8;
}

[data-count='5'] {
    fill: var(--color-blue-1a);
    fill-opacity: 1;
}

.city__wrap {}

.city__list {
    max-width: 100%;
}

.province__g:hover {
    filter: opacity(0.5);
    transition: .2s;
}

.city__list [role=button] {
    outline: none;
}

.province__active__filter__p:hover {
    filter: none;
    transition: .2s;
}