.container {
    border-right: rgba(176,236,248, 0.5) solid 2px;
}

.side__box {
    height: 90%;
    display: flex;
    flex-direction: column;
}

.side__a {
    width: 75px;
    padding: 10px;
    text-align: center;
}

.side__a:hover {
    background: rgba(176,236,248, 0.5);
}

.side__text {
    padding: 8px 12px 8px 12px;
}

.select {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: rgba(176,236,248, 0.5);
}